.App {
  width: 100%;
  height: auto;
  overflow: visible; /* Ensure content is not clipped */
}
.signup-text {
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  margin: 40px auto; /* Add spacing above and below */
  max-width: 1200px; /* Limit width for readability */
  padding: 0 20px; /* Add padding for smaller screens */
}

.learn-more-text {
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-style: italic;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  margin: 60px auto;
  max-width: 800px; 
  padding: 0 20px; 
}
.arrow-down {
  margin-left: 5px;
  font-size: 1.5rem;
  font-style:normal;
}