.flyer-container {
    display: flex;
    justify-content: center; /* Center the items horizontally */
    align-items: center; /* Optional: vertically center if needed */
    background-color: rgba(243, 243, 243, 1);
    width: 1304px;
    height: 365px;
    margin: 15rem auto 10rem auto; /* Horizontally center the container itself */
    border-radius: 20px;
    padding: 20px; /* Add some padding if needed */
    gap: 40px; /* Space between flyer-section and video-section */
  }
  
  .flyer-section, .video-section {
    flex: none; /* Prevent from stretching */
  }
  
  
  .flyer-section {
    flex: 1;
    margin-right: 20px;
  }
  
  .flyer-image {
    width: 405px;
    height: 527px;
    border-radius: 8px;
    margin-bottom: 85px;
  }
  
  .video-section {
    flex: 1;
    margin-bottom: 120px;
  }
  
  .video-player {
    width: 585px;
    height: 377px;
    background-color: #ccc;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  video {
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }