.create-account-ui .ca-container {
  display: flex;
  align-items: stretch;
  background: #b79527;
}

.ca-container .ca-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 54px 74px;
  background: var(--white-color);
  max-width: 789px;
  width: 100%;
}

.ca-form form {
  display: flex;
  flex-direction: column;
  gap: 35px;
  height: 100%;
}

.ca-form form .ca-form-group {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}

.ca-form-group .p-password,
.p-icon-field.p-icon-field-right,
.ca-form form .ca-form-group .ca-form-group-item {
  width: 100%;
}

.ca-radio-group {
  display: flex;
  align-items: center;
  gap: 104px;
}

.ca-radio-group .radio-group-item {
  display: flex;
  align-items: center;
  gap: 19px;
}

p.red-info {
  font-weight: 600;
  font-size: 20px;
  line-height: 24.2px;
  letter-spacing: 0%;
  color: #ff0000;
}

.ca-form-group button {
  background: #b79527;
  border: 0;
  padding: 28px;
  width: 100%;
  border-radius: 17px;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
}

.ca-form form hr {
  width: 100%;
  border-top: 2px solid #b3b3b3;
  margin: 0;
}

.ca-form-group.login-link {
  display: flex;
  flex-direction: column;
  gap: 10px !important;
}

.ca-form-group.login-link p {
  font-weight: 600;
  font-size: 20px;
  line-height: 24.2px;
  color: #4f4f4f;
}

.ca-form-group.login-link a {
  padding: 28px;
  background: #000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 17px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 24px;
  line-height: 29.05px;
}

.ca-image {
  padding: 50px 40px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.ca-container .ca-form h1 {
  font-family: Inter;
  font-weight: 600;
  font-size: 36px;
  line-height: 43.57px;
  text-align: center;
}
