.change-password {
    margin-top: 50px;
}

.change-password form {
    display: flex;
    flex-direction: column;
    max-width: 640px;
    width: 100%;
    gap: 40px;
}

.change-password form .form-group {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.change-password form .form-group input {
    margin-bottom: 0;
    height: 50px;
    border-radius: 8px;
    border: 1px solid #C7C7C7;
    background: #F4F4F4;
}


.change-password form .form-group label {
    font-family: Inter;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: #3B3B3B;
}

.change-password form .btn {
    width: 100%;
}