.advertisement {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
    
}

.advertisement img{
    width: 70%;
    height: auto;
}

