
.trainer-management-table-body table {
    width: 100%;
    margin-top: 25px;
    text-align: center;
  }
  
  .trainer-management-table-body table thead tr th {
    font-family: Inter;
    font-weight: 600;
    font-style: italic;
    font-size: 16px;
    line-height: 100%;
    color: #535353;
  }
  
  .trainer-management-table-body table {
    width: 100%;
    margin-top: 25px;
    text-align: center;
    border: 0;
    border-collapse: collapse;
  }
  
  .trainer-management-table-body table thead tr th {
    font-family: Inter;
    font-weight: 600;
    font-style: italic;
    font-size: 16px;
    line-height: 100%;
    color: #535353;
    padding-bottom: 15px;
    width: 20%;
  }
  
  .trainer-management-table-body table tbody tr {
    background: #ebebeb;
    width: 100%;
    height: 53px;
    border-radius: 10px;
      border-bottom: 4px solid #fff;
  }
  
  .trainer-management-table-body table tbody tr td {
    background: #ebebeb;
    border: 0;
    font-family: Inter;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    color: #161616;
  }
  
  .trainer-management-table-body table tbody tr td:first-child {
    border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
  }
  
  
  .trainer-management-table-body table tbody tr td:last-child {
    border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
  }
  
  
  .trainer-management-table-body table tbody tr td a {
    font-family: Inter;
    font-weight: 600;
    font-style: italic;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
    color: #161616;
    text-underline-offset: 2px;
}

.payment-history {
    margin-top: 50px;
}

.payment-history h3 {
    font-family: Inter;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    color: #242424;
    margin-bottom: 30px;
    display: block;
}