.basketball-container{
    display:flex;
    flex-direction: column;
    padding-bottom: 20px;
    gap:55px;
}


.basketball-backIcon {
    position: relative;
    left: 0;
    /* Aligns to the left */
    font-size: 20px;
    width: 75px;
    display: flex;
    padding: 20px;
    cursor: pointer;
    margin-left: 40px;
    margin-top: 64px;
    background-color: aliceblue;
    border-radius: 50px;
    /* Add space from the edge */
}


.basketball-header{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    background-image: url('../../Assets/Images/basketball-banner-image.png');  /* Set your image path */
    background-repeat: no-repeat;   /* Prevent repetition */
    background-position: top right;  /* Align to the top-left corner */
    background-size: 40% auto; 
}

.basketball-header-content{
    margin-top: 80px;
    display:flex;
    flex-direction:column;
    align-items: left;
    gap:18px;
    padding:0 40px;
    
}

.basketball-header-content h1{
    font-size: 56px;
    font-weight: bold;
    padding-bottom: 60px;
}

.basketball-header-content h3{
    font-size: 36px;
    font-weight: bold;
    max-width: 50%;
}
.basketball-header-content p{
    font-size:  28px;
    font-weight: 300;
}

.basketball-booking-container{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 0 40px;
    padding-bottom: 40px;
}

.basketball-booking-container button{
    padding: 20px 30px;
    font-size: 28px;
    font-weight: 600;
    width:100%;
    border-radius: 20px;
    border: 1px solid #ffb04e;
    background-color: #ffeeda;

}
.basketball-booking-selected{
    background-color: #ffb04e !important;
    color: black;
}

.basketball-image-container{
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    gap: 20px;
    padding: 0 40px;
    overflow-x: auto;
    white-space:nowrap;
    padding-bottom: 40px;
}

.basketball-image-container img{
    height: 379px;
    max-width: 360px;
    width: 100%;
    border-radius: 20px;

}

.basketball-section2{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 20px;
    padding: 0 40px;
}

.basketball-section2 h3{
    font-size: 36px;
    font-size: bold;
}

.basketball-section2 p{
    font-size: 28px;
    font-weight: 300;
    padding-bottom: 17px;
}

.basketball-section2-image-container{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;
    position: relative;
    padding-bottom:41px;

}

.basketball-section2-image-container img {
    width: 100%; /* Adjust width as needed */
     /* Set a max width */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px;
     /* Optional: Rounded corners */
}

.basketball-overlay-text {
    position: absolute;
    color: white;
    font-size: 40px;
    font-weight: bold;
    padding: 10px;
    
    border-radius: 5px;
    white-space: nowrap;
}

.bottom-left {
    bottom: 60px;
    left: 20px;
}

.top-right {
    top: 40px;
    right: 20px;
}



.basketball-group {
    position: absolute;
    top: 10px; /* Position at bottom of image */
    left: 90%;
    transform: translateX(-50%); /* Center text horizontally */
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
}

.basketball-section3{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 20px;
    padding: 0 40px;
}

.basketball-section3 h3{
    font-size: 36px;
    font-size: bold;
}

.basketball-section3 p{
    font-size: 28px;
    font-weight: 300;
    padding-bottom: 17px;
}

.basketball-section3-image-container{
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    gap: 20px;
    
    overflow-x: auto;
    white-space:nowrap;
    padding-bottom: 40px;
}

.basketball-section3-image-container div{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    position:relative;
    height: auto;
    min-width: 360px;
    width:100%;
    
    
    
}


.basketball-section3-image-container img {
     
     width:100%;
     border-radius: 20px; 
}
.skill-text-overlay {
    position: absolute;
    bottom: 10px; 
    left: 50%;
    transform: translateX(-50%); 
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    display:flex;
    flex-direction: column;
    align-items:center;
    gap:8px;
    justify-content: center;
    
}


.basketball-section4{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 20px;
    padding: 0 40px;
}

.basketball-section4 h3{
    font-size: 36px;
    font-size: bold;
}

.basketball-section4 p{
    font-size: 28px;
    font-weight: 300;
    padding-bottom: 17px;
}

.basketball-booking-container2{
    background-image: url('../../Assets/Images/Basketball/basketball_section.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: auto;
    display:flex;
    flex-direction: column;
    align-items:left;
    justify-content: space-between;
}

.basketball-booking-container-details{
    display:flex;
    flex-direction: column;
    padding: 50px 40px;
    align-items:left;
    gap:20px;
    width:60%;

}

.basketball-booking-container-details h3{
    font-size:40px;
    font-weight: bold;
}
.basketball-booking-container-details p{
    font-size:28px;
    font-weight:300;
}

.basketball-trainers{
    display:flex;
    flex-direction: column;
    align-items:center;
    gap:42px;
}

.basketball-trainers h3{
    font-size: 40px;
    font-weight: bold;
}

.basketball-trainer-image-container{
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    overflow-x: auto;
    white-space: nowrap;
    gap: 20px;
    
}

.basketball-trainer-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: relative;
    height: 520px;
    max-width: 400px; 
    width: 100%;
}

.basketball-trainer-image div{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;

    
}

.basketball-trainer-image img{
    
    /* Adjust as needed */
    width:100%;
    border-radius: 20px; 
}

.skill-text-overlay {
    position: absolute;
    bottom: 10%; /* Position at the bottom */
    left: 50%;
    transform: translateX(-50%); /* Center horizontally */
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    
}

.basketball-locations{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:58px;
    padding-bottom: 64px;

}

.basketball-locations h3{
    font-size: 56px;
    font-weight: bold;
}

.basketball-location-container{
    display:flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
    
}

.card {
    width: 585px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    background-color: #f1fff2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.card img {
    max-width: 541px;
    max-height: 364px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    background-color: white;
}
.card-description {
    display:flex;
    flex-direction: row;
    align-items:left;
    justify-content: left;
    width:100%;
    margin-top: 16px;
    font-size: 18px;
    color: #555;
}
.outside-booking-container{
    display:none;
}








@media (max-width: 1300px) {
    
    .basketball-backIcon{
        display:none !important;
    }
}
/* Responsive Styles for 1300px */
@media (max-width: 1300px) {
    .basketball-header {
        background-size: 45% auto;
    }
    .basketball-header-content h1 {
        font-size: 48px;
        padding-top: 80px;
    }

    .basketball-header-content h3 {
        font-size: 30px;
    }
    /* .basketball-header-content p{
        width: 50%;
    }
    .basketball-header-content h3{
        width: 40%;
    } */

    .basketball-header-content p,
    .basketball-section2 p,
    .basketball-section4 p {
        font-size: 24px;
    }

    /* .basketball-image-container{
        gap:10px;
    } */

    .basketball-booking-container2{
        height:auto;
    }

    
    .basketball-booking-container button {
        font-size: 24px;
        padding: 16px 24px;
    }

    .basketball-image-container img{
        
    }

    .basketball-trainer-image-container{
        gap: 20px;
    }
    .basketball-trainer-image{
        /* height: 350px;
        max-width: 350px; */
        height: auto;
        max-width: 280px;
    }

    .basketball-section2-image-container img {
        max-width: 100%;
        height:auto;
    }

    .basketball-overlay-text{
        font-size: 24px;
    }

    .basketball-booking-container-details h3{
        font-size: 30px;
    }

    .basketball-booking-container-details p{
        font-size: 22px;
    }

    
    /* .skill-text-overlay{
        font-size: 20px;
    } */

    .skill-text-overlay h4{
        font-size: 20px;
    }
    .skill-text-overlay p{
        font-size:18px;
    }


    .basketball-location-container{
        display:flex;
        flex-direction:row;
        gap: 10px;
    }

    .card{
        max-width: 440px;
    }
    

    .basketball-location-container .card img {
        width: 100%;
        height: auto;
    }
}

/* Responsive Styles for 768px */
@media (max-width: 768px) {
    .basketball-container{
        gap:25px;
    }
    .basketball-header {
        background-size: 50% auto;
    }

    .basketball-header-content {
        padding: 0 20px;
        margin-top: 80px;
        padding-bottom: 20px;
    }

    .basketball-header-content h1 {
        padding-top: 100px;
        padding-bottom: 20px;
        font-size: 36px;
    }

    .basketball-header-content h3 {
        font-size: 18px;
        max-width: 100%;
    }

    .basketball-header-content p,
    .basketball-section2 p,
    .basketball-section4 p {
        font-size: 18px;
    }

    .basketball-booking-container {
        flex-direction: row;
        align-items: center;
        padding: 0 20px;
        flex-wrap:wrap;
        gap:10px;
        padding-bottom:30px;
    }

    .basketball-booking-container button {
        font-size: 16px;
        padding: 12px 20px;
        width: 40%;
        border-radius: 10px;
    }

    .basketball-image-container {
        gap: 10px;
        padding: 0 20px;
        display:flex;
        flex-direction:row;
    }

    .basketball-image-container img {
        height: 200px;
        max-width: 170px;
    }

    .basketball-section2,.basketball-section3, .basketball-section4 {
        padding: 0 20px;
    }

    .basketball-section2 h3 {
        font-size: 28px;
    }
    .basketball-section3 h3{
        font-size: 28px;
    }
    .basketball-section3 p{
        font-size: 18px;
    }

    .basketball-locations{
        gap:20px;
    }
    .basketball-locations h3{
        font-size: 28px;
    }

    .basketball-section2-image-container img {
        max-width: 100%;
    }

    .basketball-section3-image-container {
        gap: 10px;
    }

    .basketball-section3-image-container img {
        height: 200px;
        max-width: 170px;
        width: 100%;
    }
    .basketball-section3-image-container {
        gap: 10px;
        
        display:flex;
        flex-direction:row;
    }

    .basketball-section3-image-container div {
        height: 200px;
        min-width: 170px;
    }
    .basketball-booking-container-details{
        padding: 50px 20px;
    }

    .basketball-booking-container-details h3{
        font-size: 28px;
    }
    .basketball-booking-container-details p{
        font-size: 18px;
    }
    .basketball-trainer-image-container{
        gap: 10px;
        padding:0 20px;
    }

    .skill-text-overlay h4{
        font-size: 16px;
    }
    .skill-text-overlay p{
        font-size:12px;
    }

    .basketball-trainer-image img {
        height: auto;
        width: 100%;
    }

    .basketball-location-container {
        flex-wrap: wrap;
    }
    .card{
        max-width: 340px;
        width: 100%;
    }

    .basketball-location-container .card img {
        width: 100%;
        height: auto;
    }
    .card-description p{
        font-size: 16px;
    }

    .outside-booking-container{
        display: flex;
    }

    .inside-booking-container{
        display:none;
    }
}
