.home-mission-right {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 77px 73px 77px 0;
}

.video-container {
  position: relative;
  margin-left: -120px;
}

.video-container video.w-full {
  border-radius: 10px;
  width: 100%;
}

.video-container .video-controls {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-container .video-controls button.video-play-btn {
  color: #fff;
  background: transparent;
  border: 0;
  cursor: pointer;
}

.home-mission-card {
  margin: 20px;
}

.home-mission-content h1 {
font-family: Anton;
font-weight: 400;
font-size: 40px;
line-height: 100%;
letter-spacing: 0%;
}


@media (max-width: 1024px) {
    .home-mission-card {
        flex-direction: column;
        padding: 0;
    }
    
    .home-mission-card .home-mission-left {
        max-width: 100%;
        clip-path: unset;
        border-radius: 40px 40px 0px 0px;
        padding: 25px;
    }
    
    .home-mission-card .home-mission-left .hm-img {
        display: none;
    }
    
    .home-mission-right .video-container {
        width: 100%;
        margin: 0;
        padding-top: 20px;
    }
    
    .home-mission-right {
        padding: 20px;
    }

    .home-mission-card .home-mission-left {
    
        border-radius: 40px;
        padding: 25px;
    }

    .home-mission-content{
        padding: 0px;
    }
}

@media (max-width:600px) {
   .home-mission-content h1 {
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
}
}
