.time-slot-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-left: 40px;
    padding-right: 40px;
    gap: 33px;

}

.time-slot-header {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Center content horizontally */
    position: relative;
    /* Allows absolute positioning of the back icon */
    width: 100%;
    padding: 20px;
    margin-top: 53px;
}

.backIcon {
    position: absolute;
    left: 0;
    /* Aligns to the left */
    font-size: 20px;
    display: flex;
    padding: 20px;
    cursor: pointer;
    margin-left: 20px;
    background-color: aliceblue;
    border-radius: 50px;
    /* Add space from the edge */
}

.time-slot-heading {
    flex-grow: 1;
    /* Takes available space and stays centered */
    text-align: center;
    font-family: Inter;
    font-weight: 600;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: 0%;

}

.time-slot-header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.time-slot-header-content p {
    margin-top: 14px;
    font-family: Inter;
    font-weight: 600;
    font-size: 24px;
    line-height: 29.05px;
    letter-spacing: 0%;
    color:#545454;
}

.time-slot-sports-header{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    padding-top: 60px;
    
}
.time-slot-sports-header h2{
    font-family: Inter;
    font-weight: 600;
    font-size: 36px;
    line-height: 43.57px;
    letter-spacing: 0%;
}

.time-slot-items{
    display:flex;
    flex-direction: column;
    gap: 25px;
}

.time-slot-book-container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: Inter;
    font-weight: 600;
    font-size: 24px;
    line-height: 29.05px;
    letter-spacing: 0%;
    background-color: #f0f0f0;
    border-radius: 24px;
    padding: 19px;

}

.time-slot-book-container button{
    max-width: 223px;
    max-height: 64;
    width:100%;
    border-radius: 12px;
    padding: 10px;
    gap: 10px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29.05px;
    letter-spacing: 0%;
    color: white;
    background-color: black;

}
.book-slot-button .btn-icon{
    display:none;
}
.time-slot-book-container input[type="checkbox"]{
    width: 40px;
    height: 40px;
}

.p-submit-button{
    
    margin-top: 20px;
    bottom:0;
    font-family: Inter;
    font-weight: 600;
    font-size: 20px;
    line-height: 19.36px;
    letter-spacing: 0%;
    padding:20px;
    background-color: black;
    color:white;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 1px;

}



/* For Large Screens (1300px) */
@media screen and (max-width: 1300px) {
    .book-slot-button .btn-icon{
        display:block;
    }
    .book-slot-button .btn-text{
        display:none;
    }
    .time-slot-container {
        padding: 30px;
    }

    .time-slot-heading {
        font-size: 40px;
        line-height: 44px;
    }

    .time-slot-sports-header h2 {
        font-size: 32px;
    }

    .time-slot-book-container {
        font-size: 20px;
    }

    .time-slot-book-container button {
        font-size: 20px;
        max-width: 60px;
    }

    .time-slot-day{
        display:none;
    }
}

@media screen and (max-width: 768px) {
    .book-slot-button .btn-icon{
        display:block;
    }
    .book-slot-button .btn-text{
        display:none;
    }
    .time-slot-container {
        padding: 20px;
    }
    .time-slot-header{
        padding:0px;
    }
    

    .time-slot-heading {
        font-family: Inter;
        font-weight: 700;
        font-size: 20px;
        line-height: 24.2px;
        letter-spacing: 0%;
        text-align: center;

    }
    .time-slot-book-container button{
        max-width: 60px;
        width: 100%;
    }

    .time-slot-sports-header h2 {
        padding:0;
        font-family: Inter;
        font-weight: 600;
        font-size: 18px;
        line-height: 21.78px;
        letter-spacing: 0%;
    }
    .time-slot-sports-header{
        padding-left:0;
        padding-right:0;
    }

  

    .time-slot-book-container {
        flex-direction: row;
        align-items: center;
        text-align: center;
        font-size: 10px !important;
        padding: 5px;
        gap: 10px;
        border-radius:8px;
    }


    

    .time-slot-book-container button {
        
        font-size: 14px;

        
    }

    .p-submit-button {
        font-size: 18px;
        padding: 12px;
    }
    .time-slot-day{
        display:none;
    }
}