.navbar-container {
    top: 40px;
    width: 100%;
    background-color: #070028;
    padding: 10px 20px;
}

.navbar-logo {
    width: 155px;
    height: 140px;
    margin-right: 93px;
}

.navbar-icons {
    display: flex;
    align-items: center;
}

.nav-icon {
    width: 36px;
    height: 36px;
    margin-left: 20px;
    fill: #fff;
    cursor: pointer;
}

.hamburger-icon {
    display: none;
}

.custom-navbar .p-menubar-root-list > .p-menuitem > .p-menuitem-link {
    color: #fff;
}

.p-menubar .p-menuitem {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 30px;
}

.p-menubar .p-menuitem-text {
    color: white;
    font-family: Inter;
    font-weight: 600;
    font-size: 20px;
    line-height: 24.2px;
    letter-spacing: 0%;
}

.p-menubar .p-menuitem-text:hover {
    color: #070028;
    border: none;
    border-radius: 10px;
}

.custom-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: none;
    background-color: #070028;
}

@media (max-width: 1310px) {
    .navbar-logo {
        width: 100px;
        height: 90px;
        margin-right: 20px;
    }

    .navbar-icons {
        order: 2;
    }
    .nav-icon {
        width: 20px;
        height: 20px;
        margin-left: 20px;
        fill: #fff;
        cursor: pointer;
    }

    .hamburger-icon {

        display: block;
    }

    .p-menubar-root-list {
        display: none;
    }

    .p-menubar-root-list.visible{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: #070028;
        width: 200px;
        border-radius: 10px;
    }
}