.testimonial-slider {
    width: 100%;
    
    margin: auto;
    overflow: hidden;
    text-align: center;
    padding: 0 20px;
}

.testimonial-wrapper {
    width: 100%;
    overflow: hidden;
}

.testimonial-list {
    display: flex;
    gap: 40px;
    padding: 40px 20px;
    transition: transform 0.5s ease-in-out;
}

.testimonial {
    flex: 0 0 calc(100% / 3 - 30px); /* Default for 3 items per view */
    width: calc(100% / 3 - 20px);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 18px;
   
}

@media (max-width: 1300px) {
    .testimonial {
        flex: 0 0 calc(100% / 2 - 20px); /* Adjust for 2 testimonials */
        width: calc(100% / 2 - 20px);
    }
}

@media (max-width: 768px) {
    .testimonial {
        flex: 0 0 100%; /* Show only 1 testimonial */
        width: 100%;
    }
}

/* Pagination */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.dot {
    width: 10px;
    height: 10px;
    margin: 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.dot.active {
    background-color: #333;
}
