
.checkboxInput {
    display: none;
  }
  
  .toggleSwitch {
    display: flex
;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 44px;
    height: 28px;
    background-color: #fff;
    border-radius: 20px;
    cursor: pointer;
    transition-duration: .2s;
    border: 4px solid #1E1E1E;
  }
  
  .toggleSwitch::after {
    content: "";
    position: absolute;
    height: 8px;
    width: 8px;
    left: 3px;
    background-color: transparent;
    border-radius: 50%;
    transition-duration: .2s;
    border: 4px solid #1E1E1E;
    top: 2.1px;
  }
  
  .checkboxInput:checked+.toggleSwitch::after {
    transform: translateX(100%);
    transition-duration: .2s;
    background-color: #9E9E9E;
    left: 0.8px;
  }

  .checkboxInput:checked+.toggleSwitch {
    background-color: #9E9E9E;
    transition-duration: .2s;
  }
  
  .notifications {
    margin-top: 50px;
}

.notifications h2 {
    font-family: Inter;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    color: #242424;
}


.notifications .np-lists {
    padding: 65px 70px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    max-width: 805px;
    width: 100%;
}

.notifications .np-lists .np-list-item {
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: space-between;
}

.notifications .np-lists .np-list-item p {
    font-family: Inter;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    color: #242424;
}

.ud-title .ud-heading-cnt {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ud-title .ud-heading-cnt h1.ud-heading {
    font-family: Inter;
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    color: #000;
}

.ud-title .ud-heading-cnt p {
    font-family: Inter;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: #5b5b5b;
}