* {
  padding: 0px;
  box-sizing: border-box;
  font-family: "Inter", serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

:root {
  --dark-blue-color: #070028;
  --brown-color: #b79527;
  --red-color: #ff0000;
  --text-secondary-color: #5b5b5b;
  --black-color: #000000;
  --white-color: #ffffff;
  --text-brown: #745800;
  --light-green: #3cff49;
  --light-grey: #9b9b9b;
  --slate-gray: #e8e8e8;
  --light-pink: #ffeed9;
  --font-size: 16px;
  --spacing: 10px;
}

input {
  border: 2px solid #d9d9d9;
  padding: 28px 35px !important;
  width: 100%;
  border-radius: 17px;
  outline: none;
  box-shadow: none;
  font-size: 24px;
  line-height: 29px;
  color: #5b5b5b;
  font-weight: 600;
}
