.login-container {
    top: 0;
    display: flex;
    flex-direction: row;
    
    justify-content: center;
    margin-bottom:0;

    
}

.cover-photo-banner {
    width: 100%;
    padding: 50px 40px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top:20px;
    padding-left:20px;
    padding-right:20px;
    box-sizing: border-box;
    background-color: #b79626;
}

.cover-photo-banner img {
    width: 100%;
    max-width: calc(100% - 40px); /* 20px margin on left & right */
    height: auto;
    object-fit: contain;
    padding-top: 40px;
}

.login-form {
    
    width: 100%;
    background-color: #fff;
    padding:60px;
    padding-top:50px;
    
    border-radius: 2px;
    text-align: center;
}

.login-form h2 {
    
    margin-bottom: 40px;
    font-family: Inter;
    font-weight: 600;
    font-size: 36px;
    line-height: 43.57px;
    letter-spacing: 0%;
}

.form-group {
    width: 100%;
    margin-bottom: 15px;
    text-align: left;
}



.form-group input {
    
    margin-bottom: 30px;
    width: 100%;
    font-weight: 600;
    padding: 28px 35px;
    border: 2px solid #ccc;
    border-radius: 17px;
}

.forgot-password {
    display: block;
    margin-bottom: 20px;
    margin-left: 68px;
    text-align: left;
    color: #b79626;
    text-decoration: none;
    font-family: Inter;
    font-weight: 600;
    font-size: 20px;
    line-height: 24.2px;
    letter-spacing: 0%;
}

.forgot-password:hover {
    text-decoration: underline;
    margin-bottom: 20px;
}

.sign-in-button {
    width: 100%;
    font-size: 24px;
    font-weight: 600;
    padding: 28px 35px;
    background-color: #b79626;
    color: #fff;
    border: none;
    border-radius: 17px;
    cursor: pointer;
}

.sign-in-button:hover {
    background-color: #a68522;
}

hr {
    margin: 40px 0;
}

.new-account {
    font-family: Inter;
    font-weight: 600;
    font-size: 20px;
    line-height: 24.2px;
    letter-spacing: 0%;
    text-align: center;
}

.create-account-button {
    width: 100%;
    font-size: 24px;
    font-weight: 600;
    padding: 28px 35px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 17px;
    cursor: pointer;
    margin-top: 20px;
}

.create-account-button:hover {
    background-color: #333;
}

#email {
    width: 100%;
    
    max-height: 85px;
}

#password {
    width: 100%;
   
    max-height: 85px;
}

/* Media Queries for Mobile and Tablet Responsiveness */
@media (max-width: 768px) {
    .login-container {
        flex-direction: column;
        
    }
    .login-form h2{
        margin-bottom: 40px;
    }
    .cover-photo-banner {
        height: auto;
        margin-bottom: 20px;
        padding-bottom:20px;
    }

    .cover-photo-banner img {
        max-width: 100%;
    }

    .login-form {
        width: 100%;
        padding: 20px !important;
        display: flex;
        flex-direction: column;
        justify-content:center;
    }

    .form-group input {
        margin-bottom: 15px;
        width: 100%;
        font-weight: 600;
        padding: 15px 20px !important;
        border: 2px solid #ccc;
        border-radius: 17px;
        margin-left: 0;
       
    }

    .forgot-password {
        margin-left: 0;
        text-align: center;
    }

    .sign-in-button,
    .create-account-button {
        width: 100%;
        padding: 15px 20px;
    }
    .cover-photo-banner{
        display:none;
    }
}

@media (max-width: 1200px) {
    .login-container {
        flex-direction: column;
        
    }

    .cover-photo-banner {
        height: auto;
        margin-bottom: 20px;
    }

    .cover-photo-banner img {
        width: 100%;
    }

    .login-form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content:center;
        padding: 40px;
    }

    .form-group input {
        margin-left: 0;
        width:100%;
        padding: 15px 20px;
        
    }

    .forgot-password {
        margin-left: 0;
        text-align: center;
    }

    .sign-in-button,
    .create-account-button {
        width: 100%;
        padding: 15px 20px;
    }
}

::-webkit-scrollbar {
    display: none;
}

/* Ensure the content is still scrollable */
html, body {
    overflow: -moz-scrollbars-none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
    scrollbar-width: none; /* For Firefox */
}