.ca-container.ca-container-login {
    flex-direction: row-reverse;
}

.ca-container.ca-container-login {
    flex-direction: row-reverse;
}

.ca-form-group.forgot-pass-group {
    flex-direction: column;
    align-items: flex-start !important;
}

.ca-form-group.forgot-pass-group a {
    font-family: Inter;
    font-weight: 600;
    font-size: 20px;
    line-height: 24.2px;
    color: #745800;
    text-decoration: none;
    padding: 0px 40px;
}